<?xml version="1.0"?>
<config>
  <modules>
    <Sibers_RESTExtender>
      <version>0.0.1</version>
    </Sibers_RESTExtender>
  </modules>
  <global>
    <helpers>
      <restextender>
        <class>Sibers_RESTExtender_Helper</class>
      </restextender>
    </helpers>
    <models>
      <restextender>
          <class>Sibers_RESTExtender_Model</class>
      </restextender>
    </models>
    <resources>
        <restextender>
          <setup>
            <module>Sibers_RESTExtender</module>
            <class>Mage_Eav_Model_Entity_Setup</class>
          </setup>
          <connection>
            <use>default_setup</use>
          </connection>
        </restextender>
    </resources>
    <blocks>
      <adminhtml>
          <rewrite>
              <catalog_product_edit_tab_options_option>Sibers_RESTExtender_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Option</catalog_product_edit_tab_options_option>
              <catalog_product_edit_tab_options_type_select>Sibers_RESTExtender_Block_Adminhtml_Catalog_Product_Edit_Tab_Options_Type_Select</catalog_product_edit_tab_options_type_select>
          </rewrite>
      </adminhtml>
    </blocks>
  </global>
</config> 