<?xml version="1.0"?>
      <config>
        <modules>
            <GuptaDaniel_CannabisAnalytics>
                <version>0.1.0</version>
            </GuptaDaniel_CannabisAnalytics>
        </modules>
        
        <global>
            <models>
                <cannabisanalytics>
                    <class>GuptaDaniel_CannabisAnalytics_Model</class>
                </cannabisanalytics>
            </models>
            <blocks>
                <cannabisanalytics>
                    <class>GuptaDaniel_CannabisAnalytics_Block</class>
                </cannabisanalytics>
            </blocks>
            <helpers>
                <cannabisanalytics>
                    <class>GuptaDaniel_CannabisAnalytics_Helper</class>
                </cannabisanalytics>
            </helpers>
        </global>
        <admin>
            <routers>
                <cannabisanalytics>
                    <use>admin</use>
                    <args>
                        <module>GuptaDaniel_CannabisAnalytics</module>
                        <frontName>cannabisanalytics</frontName>
                    </args>
                </cannabisanalytics>
            </routers>
           <layout>
                <updates>
                    <cannabisanalytics>
                        <file>cannabisanalytics.xml</file>
                    </cannabisanalytics>
                </updates>
            </layout>
        </admin>
    </config>